/**
 * Estilos para el componente DataTable
 */

.data-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.data-table-search {
  width: 100%;
}

.data-table-search.with-extra {
  width: calc(100% - 200px);
}

.search-extra-container {
  margin-left: 5px;
}
